# Data Science Tools and Ecosystem

## Author: 
Antonio

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science

* Commonly used libraries for Data Science

* Basic arithmetic expression in Phyton

Some of the popular languages that Data Scientists use are:
1. R. 
2. SQL. 
3. Java

Some of the commonly used libraries used by Data Scientists include:
1. Tensor flow
2. Pandas
3. NumPy

|Data Science Tools|
--------------------
|Matplotlib|
|Pandas|
|NumPy|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [20]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [21]:
#This will convert 200 minutes to hours by diving by 60
x=200 
y=60
z=x/y
print(z)

3.3333333333333335